<div id="<%= dom_id stack %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= stack.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Heroku ID:</strong>
    <%= stack.heroku_identifier %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Heroku name:</strong>
    <%= stack.heroku_name %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this stack", stack, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this stack", edit_heroku_stack_path(stack), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
